body {
    font-family: 'Open Sans', sans-serif;
    background: #FAFAFA;
}

a {
    text-decoration: none;
}

.nav-container,.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    background: #9E9E9E;
}


.nav-bar {
    width: 100%;
    background: #9E9E9E;
}

.nav-container {
    overflow: hidden;
}

.nav-logo {
    float: left;
    display: block;
    padding: 20px 10px;
    color: #757575;
    font-weight: 600;
    font-size: 1.2em;
}

.nav-logo:hover {
    color: #424242;
}

.nav-list {
    float: right;
  list-style:none;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: #f9f9f9;
    padding: 20px 10px;
    font-size: 1em;
}

.nav-list li a:hover {
    color: #f9f9f9;
    background: #757575;
}

.nav-menu{
  display: none;
}

@media screen and (max-width: 768px) {
.nav-menu{
    color: #fff;
    float: right;
    display: block;
    padding: 20px 10px;
    cursor: pointer;
}

.nav-list{
float: left; 
width: 100%;
overflow: hidden;
height: 0;

}

.nav-open{ height: auto; }

.nav-list li {
    width: 100%;
}

}